*{
    margin: 0;
    padding: 0;
}

body{
    background: white;
}

header{
    background:url('../images/Imagen_Ejemplo.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    }
    
    .contenedor{
        width: 80%;
        margin: 0 auto;
    }